#page .u-section-title.upfront-plain_txt h1 {
    margin: 0 auto;
}
#page .u-section-title.upfront-plain_txt h1:after {
    content: "—";
    display: block;
    height: 30px;
}


/* 378641-1509894398-au */